<h1>Lista de Productos</h1>

<div>
{{#if session}}
        <p class="sessionWelcomeProducts">Bienvenido {{user.first_name}} {{user.last_name}}!</p>
        <p class="sessionWelcomeProducts">Tu rol es: {{user.rol}} </p>
        <p data-cart-id="{{user.cart}}" class="sessionWelcomeProducts">Carrito ID: {{user.cart}} </p>
        <a class="sessionWelcomeProducts" href="/carts/{{user.cart}}">Carrito</a>
{{/if}}
</div>

<div>
    {{#each prods}}
        <div class="prodsCardsViews">
            <h2>{{this.title}}</h2>
            <p>${{this.price}}</p>
            <p>Description: {{this.description}}</p>
            <p>Category: {{this.category}}</p>
            <p>Stock: {{this.stock}}</p>
            <button type="button" class="btnAddToCart" data-product-id="{{this._id}}"> Añadir al carrito</button>
        </div>
    {{/each}}
</div>

<div>
    {{#if hasPrevPage}}
    <a href="/products?page={{prevPage}}"> volver </a>
    {{/if}}

    {{#if hasNextPage}}
        <a href="/products?page={{nextPage}}"> siguiente </a>
    {{/if}}

    <p>Page {{currentPage}} of {{totalPages}} </p>
</div>

<script src="js/prods.js"></script>